<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @booking.id %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @booking.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @booking.date_to %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
